<!--


       444444444       000000000            444444444
      4::::::::4     00:::::::::00         4::::::::4
     4:::::::::4   00:::::::::::::00      4:::::::::4
    4::::44::::4  0:::::::000:::::::0    4::::44::::4
   4::::4 4::::4  0::::::0   0::::::0   4::::4 4::::4
  4::::4  4::::4  0:::::0     0:::::0  4::::4  4::::4
 4::::4   4::::4  0:::::0     0:::::0 4::::4   4::::4
4::::444444::::4440:::::0 000 0:::::04::::444444::::444
4::::::::::::::::40:::::0 000 0:::::04::::::::::::::::4
4444444444:::::4440:::::0     0:::::04444444444:::::444
          4::::4  0:::::0     0:::::0          4::::4
          4::::4  0::::::0   0::::::0          4::::4
          4::::4  0:::::::000:::::::0          4::::4
        44::::::44 00:::::::::::::00         44::::::44
        4::::::::4   00:::::::::00           4::::::::4
        4444444444     000000000             4444444444



  This is the default "404: Not Found" page.
  User agents that don't "Accept" HTML will see a JSON version instead.
  You can customize the control logic for your needs in `config/404.js`

  Sails considers a request to be in a "404: Not Found" state when a user
  requests a URL which doesn't match any of your app's routes or blueprints.

  You can also trigger this response from one of your controllers or policies with:
  `return res.notFound();`


-->
<link rel="stylesheet" href="/styles/error.css">
<script>
function goBack() {
  window.history.back();
}
</script>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <center>
        <div class="error">
          <h1>404</h1>
        </div>
        <div class="title">
          <h1>That page cannot be found.</h1>
          <p>
            Are you sure you are in the right place?
          </p>
          <button onClick="goBack()" class="btn btn-primary">Go Back</button>
          <a href="https://github.com/steventhanna/hindsite/issues" class="btn btn-success">Report an Issue</a>
        </div>
      </center>
    </div>
  </div>
</div>
