/**
  * Dashboard Style
  *
  * @author Steven T Hanna (http://www.github.com/steventhanna)
  * @description The style for the backend dashboard.  Utilizes dashboard and some magic
*/

/* For testing grid bugs */
/** {
  border-style: solid;
  border-color: red;
  border-width: 1px;
}*/

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fbfbfb;
  /*padding-right: 20px;*/
  width: 100%;
  padding-top: 50px;
  word-break: normal;
}

/* Handle body padding for navbar-fixed-top */
@media (max-width: 768px) {
  body {
    padding-top: 50px;
    width: 94%;
    padding-right: 0px;
  }

  .navbar-header {
    padding-top: 5px;
  }
}

.sidebar {
  position: fixed;
  z-index: 10;
  height: 100%;
  overflow-y: auto;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  border-right-style: solid;
  border-right-color: #eaf1f5;
  border-right-width: 1px;
  width: 25%;
}

.sidebar .title {
  color: #000;
}

.sidebar .title a {
  color: #000;
  text-decoration: none;
}

.sidebar .title h1 {
  font-weight: 300;
}

.sidebar .title p {
  font-size: 16px;
}

.sidebar .sections i {
  margin-right: 10px;
}

.nav > li > a {
  /* TODO :: Pick a color for here */
  color: #8c8c8c;
  font-size: 15px;
}

.sections i {
  color: #8c8c8c;
}

.sections h3 {
  color: var(--oc-teal-7);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin-left: 15px;
}

.nav-pills > li .active > a:focus, .nav-pills > li .active > a:hover {
  /* TODO :: Pick a color for here **SAME** */
  color: #000;
  background-color: #fff;
  /* TODO :: Pick a color for here **SAME** */
  border-color: var(--oc-gray-5);
  border-width: 1px;
}

.nav-stacked > li + li {
  margin-top: 20px;
}

.nav-pills > li.active > a > i {
  color: var(--oc-teal-8);
}

.nav-pills > li.active > a {
  background-color: #fff;;
  color: var(--oc-teal-8);
  font-weight: 500;
  /*border-color: var(--oc-gray-5);*/
  /*-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.19);*/
  /*-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.19);*/
  /*box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.19);*/
}

.nav-pills>li.active>a:hover {
  background-color: var(--oc-teal-7);
  color: #fff;
}

.nav-pills>li.active>a:hover i {
  color: #fff !important;
}

/* DON'T TOUCH ... THIS IS MAGICAL */
@media (max-width: 768px) {
  .main-content {
    /*padding-left: 25px;*/
    padding-right: 0px;
    padding-bottom: 25px;
  }
  .row {
    /*margin-right: -5%;*/
    /*padding-right: 10px;*/
  }
}

@media (min-width: 768px) {
  .main-content {
    padding-left: 35%;
    padding-bottom: 25px;
  }
  body {
    /*padding-top: 0px;*/
    padding-right: 0px;
  }
}

@media (min-width: 992px) {
  .main-content {
    padding-left: 30%;
  }
}

@media (min-width: 1200px) {
  .main-content {
    padding-left: 14px;
    /*padding-right: 50px;*/
  }
}

.navbar-default .navbar-brand {
  margin-left: 10px;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}

.navbar-default .navbar-nav > .active > a {
  color: #000;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.19);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.19);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.19);
}

.navbar-default .navbar-nav > .active > a i {
  color: var(--oc-teal-7);
}

/*.navbar-default .navbar-nav>li>a>i {
  color: var(--oc-teal-7);
}*/

.main-content h2 {
  color: var(--oc-teal-8);
  font-weight: 300;
  margin-top: 30px;
}

.input-group-addon {
  background: #fff;
}

label {
  margin-top: 10px;
}

.btn-success {
  background-color: var(--oc-teal-7);
}

.btn-success:hover {
  background-color: var(--oc-teal-9);
  border-color: var(--oc-teal-9);
}

.btn-success:active, .btn-success:active:hover {
  background-color: var(--oc-teal-5);
  border-color: var(--oc-teal-5);
}

.btn-success:focus {
  background-color: var(--oc-teal-6);
  border-color: var(--oc-teal-6);
}

.btn-danger {
  background-color: var(--oc-red-7);
  border-color: var(--oc-red-7);
}

.help-block {
  margin-bottom: 0px;
}

.has-success .form-control {
  border-color: var(--oc-teal-7);
}

.has-error .form-control {
  border-color: var(--oc-red-7);
}

.has-error .form-control:focus {
  border-color: var(--oc-red-7);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px var(--oc-red-7);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px var(--oc-red-7);
}

.has-success .form-control:focus {
  border-color: var(--oc-teal-7);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px var(--oc-teal-7);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px var(--oc-teal-7);
}

.has-success .input-group-addon {
  color: var(--oc-teal-7) !important;
  background-color: var(--oc-teal-0);
  border-color: var(--oc-teal-7);
}

.has-error .input-group-addon {
  color: var(--oc-red-7) !important;
  background-color: var(--oc-red-0);
  border-color: var(--oc-red-7);
}

.has-success {
  color: var(--oc-teal-7);
}

.has-error {
  color: var(--oc-red-7);
}

.has-danger {
  color: var(--oc-yellow-7);
}

.empty {
  margin-top: 100px;
  text-align: center;
  width: 75%;
}

.empty h1 {
  color: var(--oc-teal-7);
  font-weight: 300;
  font-size: 48px;
}

.empty p {
  margin-top: 0px;
  font-size: 16px;
  color: var(--oc-gra-7);
  margin-bottom: 20px;
}

.modal-footer i {
  margin-right: 5px;
}

code {
  word-wrap: break-word;
}

.monitor h2 a {
  text-decoration: none;
  color: var(--oc-teal-7);
}

.monitor .btn-default {
  color: #000;
}

.monitor h4 {
  font-size: 22px;
  margin-top: 20px;
  overflow-wrap: break-word;
}

.black {
  color: #000 !important;
}

.main-content .title .heading {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-content .title .heading h1 {
  font-size: 32px;
  color: #4a4a4a;
}

.btn-primary {
  background-color: var(--oc-blue-5);
  border-color: var(--oc-blue-5);
}

.btn-primary:hover {
  background-color: var(--oc-blue-7);
  border-color: var(--oc-blue-7);
}

.main-content .title h1 .btn, .main-content .empty .btn-primary {
  border-radius: 15px;
}

.main-content .title h3 {
  margin-top: 0px;
}

.panel-danger {
  border-color: var(--oc-red-7);
  background-color: var(--oc-red-1);
}


.title .btn {
  margin-right: 10px;
  float: right;
}

.btn-default {
  background-color: transparent !important;
}

@media (max-width: 768px) {
  .main-content .title .heading {
    margin-left: 0px;
    min-width: 102%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .main-content .title .heading .btn {
    margin-top: 10px;
    width: 100%;
  }

  .title .btn, .modal-footer .btn {
    margin-left: 0px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    float: none !important;
  }

  .modal-footer .btn+.btn {
    margin-left: 0px;
  }

  .modal-footer .btn {
    margin-top: 5px;
  }

  .heading h1 {
    text-align: center;
    margin-bottom: 10px;
  }

  .heading .btn-primary {
    margin-top: 20px !important;
  }

  .monitor-header, .monitor {
    margin-right: -7%;
  }

  .monitor, .monitor-header {
    font-size: 4vw;
  }

  .monitor h3, .monitor-header h3 {
    font-size: 4vw !important;
  }

  .monitor-tab {
    margin-right: -2%;
  }
}

.btn i {
  margin-right: 2px !important;
}

.input-group {
  width: 100%;
}

textarea {
  display: block !important;
  min-width: 100% !important;
  border-radius: 4px !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
}

.incident {
  margin-bottom: 20px;

}

.incident .title h1 {
  font-size: 32px;
}

.incident .title h3 {
  color: var(--oc-gray-7);
}

.navbar-default {
  background-color: #ffffff;
  border-radius: 0px;
  margin-bottom: 0px;
}

.bordered {
  border-radius: 0px;
  border-color: #eaeaec;
  border-width: 1px;
  border-style: solid;
}

.monitor-header {
  text-align: center;
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.monitor-header h3 {
  font-size: 16px;
  font-weight: 500;
}

.monitor {
  text-align: center;
  margin-top: 0px;
  margin-bottom: -1px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.monitor h3 {
  /*font-size: 20px;*/
  font-weight: 400;
  word-break: break-all;
}

.monitor h3 a {
  text-decoration: none;
  color: var(--oc-teal-7);
}

.monitor hr {
  width: 100%;
}

.heading .panel {
  margin-bottom: 0px;
}

.monitor-tab {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  /* Override the left and top border to prevent overlap */
  border-left: none !important;
  border-top: none !important;
  background-color: #fff;
}

.monitor-tab h3 {
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
}

.monitor-tab h1 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
}

.bread-button {
  border-radius: 15px;
  margin-bottom: 15px;
}

.monitor-tab a {
  color: var(--oc-teal-7);
  /*font-size: 1.4vw;*/
  text-align: center;
}

.monitor-tab {
  overflow-x: hidden;
}

.hljs {
  background: none !important;
}

.btn-outline-error {
  background-color: transparent;
  border-color: var(--oc-red-7);
  color: var(--oc-red-7);
  margin-top: -5px;
  border-radius: 15px;
}

.btn-outline-error:hover {
  background-color: var(--oc-red-7);
  color: #fff;
}

.btn-outline-danger {
  background-color: transparent;
  border-color: var(--oc-yellow-7);
  color: var(--oc-yellow-7);
  margin-top: -5px;
  border-radius: 15px;
}

.btn-outline-danger:hover {
  background-color: var(--oc-yellow-7);
  color: #fff;
}

.btn-outline-success {
  background-color: transparent;
  border-color: var(--oc-teal-7);
  color: var(--oc-teal-7);
  margin-top: -5px;
  border-radius: 15px;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: var(--oc-teal-7);
}

.btn-outline-black {
  background-color: transparent;
  border-color: #000;
  color: #000;
  margin-top: -5px;
  border-radius: 15px;
}

.btn-outline-black:hover {
  color: #fff;
  background-color: #000;
}

h3 .btn-outline-success {
  font-size: 20px;
}
