/**
  * Dashboard Style
  *
  * @author Steven T Hanna (http://www.github.com/steventhanna)
  * @description The style for the backend dashboard.  Utilizes dashboard and some magic
*/

/* For testing grid bugs */
/** {
  border-style: solid;
  border-color: red;
  border-width: 1px;
}*/

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  padding-right: 20px;
  width: 100%;
}

/* Handle body padding for navbar-fixed-top */
@media (max-width: 768px) {
  body {
    padding-top: 50px;
    width: 94%;
    padding-right: 0px;
  }

  .navbar-header {
    padding-top: 5px;
  }
}

.sidebar {
  position: fixed;
  z-index: 10;
  height: 100%;
  overflow-y: auto;
  background-color: var(--oc-gray-2);
  padding-left: 40px;
  padding-right: 20px;
  border-right-style: solid;
  border-right-color: #eaf1f5;
  border-right-width: 1px;
  width: 25%;
}

.sidebar .title {
  color: #000;
}

.sidebar .title a {
  color: #000;
  text-decoration: none;
}

.sidebar .title h1 {
  font-weight: 300;
}

.sidebar .title p {
  font-size: 16px;
}

.sidebar .sections i {
  margin-right: 10px;
}

.nav > li > a {
  /* TODO :: Pick a color for here */
  color: #000;
  font-size: 15px;
}

.sections i {
  color: var(--oc-teal-7);
}

.nav-pills > li .active > a {
  color: #000;
  /* TODO :: Pick a color for here */
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  /* TODO :: Pick a color for here **SAME** */
  border-color: var(--oc-gray-5);
}

.nav-pills > li .active > a:focus, .nav-pills > li .active > a:hover {
  /* TODO :: Pick a color for here **SAME** */
  color: #000;
  background-color: #fff;
  /* TODO :: Pick a color for here **SAME** */
  border-color: var(--oc-gray-5);
  border-width: 1px;
}

.nav-stacked > li + li {
  margin-top: 20px;
}

.nav-pills>li.active>a {
  background-color: #fff;
  color: #000;
  border-color: var(--oc-gray-5);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.19);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.19);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.19);
}

.nav-pills>li.active>a:hover {
  background-color: var(--oc-teal-7);
  color: #fff;
}

.nav-pills>li.active>a:hover i {
  color: #fff !important;
}

/* DON'T TOUCH ... THIS IS MAGICAL */
@media (max-width: 768px) {
  .main-content {
    padding-left: 25px;
    padding-right: 0px;
    padding-bottom: 25px;
  }
  .row {
    margin-right: -5%;
    padding-right: 10px;
  }
}

@media (min-width: 768px) {
  .main-content {
    padding-left: 35%;
    padding-bottom: 25px;
  }
  body {
    padding-top: 0px;
  }
}

@media (min-width: 992px) {
  .main-content {
    padding-left: 30%;
  }
}

@media (min-width: 1200px) {
  .main-content {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.navbar-default .navbar-brand {
  margin-left: 10px;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}

.navbar-default .navbar-nav > .active > a {
  color: #000;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.19);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.19);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.19);
}

.navbar-default .navbar-nav > .active > a i {
  color: var(--oc-teal-7);
}

.navbar-default .navbar-nav>li>a>i {
  color: var(--oc-teal-7);
}

.main-content h2 {
  color: var(--oc-teal-8);
  font-weight: 300;
  margin-top: 30px;
}

.input-group-addon {
  background: #fff;
}

label {
  margin-top: 10px;
}

.btn-success {
  background-color: var(--oc-teal-7);
}

.btn-success:hover {
  background-color: var(--oc-teal-9);
  border-color: var(--oc-teal-9);
}

.btn-success:active, .btn-success:active:hover {
  background-color: var(--oc-teal-5);
  border-color: var(--oc-teal-5);
}

.btn-success:focus {
  background-color: var(--oc-teal-6);
  border-color: var(--oc-teal-6);
}

.btn-danger {
  background-color: var(--oc-red-7);
  border-color: var(--oc-red-7);
}

.help-block {
  margin-bottom: 0px;
}

.has-success .form-control {
  border-color: var(--oc-teal-7);
}

.has-error .form-control {
  border-color: var(--oc-red-7);
}

.has-error .form-control:focus {
  border-color: var(--oc-red-7);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px var(--oc-red-7);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px var(--oc-red-7);
}

.has-success .form-control:focus {
  border-color: var(--oc-teal-7);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px var(--oc-teal-7);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px var(--oc-teal-7);
}

.has-success .input-group-addon {
  color: var(--oc-teal-7) !important;
  background-color: var(--oc-teal-0);
  border-color: var(--oc-teal-7);
}

.has-error .input-group-addon {
  color: var(--oc-red-7) !important;
  background-color: var(--oc-red-0);
  border-color: var(--oc-red-7);
}

.has-success {
  color: var(--oc-teal-7);
}

.has-error {
  color: var(--oc-red-7);
}

.has-danger {
  color: var(--oc-yellow-7);
}

.empty {
  margin-top: 100px;
  text-align: center;
  width: 75%;
}

.empty h1 {
  color: var(--oc-teal-7);
  font-weight: 300;
  font-size: 48px;
}

.empty p {
  margin-top: 0px;
  font-size: 16px;
  color: var(--oc-gra-7);
  margin-bottom: 20px;
}

.modal-footer i {
  margin-right: 5px;
}

.monitor h2 {
  margin-top: 15px;
  color: #000;
}

code {
  word-wrap: break-word;
}

.monitor h2 a {
  text-decoration: none;
  color: var(--oc-teal-7);
}

.monitor .btn-default {
  color: #000;
}

.monitor h4 {
  font-size: 22px;
  margin-top: 20px;
}

.black {
  color: #000 !important;
}

.main-content .title h3 {
  margin-top: 0px;
}

.panel-danger {
  border-color: var(--oc-red-7);
  background-color: var(--oc-red-1);
}

.title .btn {
  margin-right: 10px;
  float: right;
}

@media (max-width: 768px) {
  .title .btn, .modal-footer .btn {
    margin-left: 0px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    float: none !important;
  }

  .modal-footer .btn+.btn {
    margin-left: 0px;
  }

  .modal-footer .btn {
    margin-top: 5px;
  }
}




.btn i {
  margin-right: 2px;
}
