<div class="hidden" id="id">
  <%= user.id %>
</div>

<div class="col-lg-3 sidebar hidden-xs">
  <br />
  <br />
  <div class="sections">
    <ul class="nav nav-pills nav-stacked">
      <h3>MONITOR</h3>
      <li <% if (currentPage == "dashboard") { %> class="active" <% } %>>
        <a id="dashboard" href="/dashboard">
          <i class="fa fa-tachometer"></i>
          Dashboard</a>
      </li>
      <li <% if (currentPage == "monitors") { %> class="active" <% } %>>
        <a id="monitors" href="/monitors">
          <i class="fa fa-feed"></i>
          Monitors</a>
      </li>
      <h3>REPORT</h3>
      <li <% if (currentPage == "incidents") { %> class="active" <% } %>>
        <a id="incidents" href="/incidents"><i class="fa fa-exclamation-circle"></i> Incidents</a>
      </li>
      <li <% if (currentPage == "integrations") { %> class="active" <% } %>>
        <a id="integrations" href="/integrations"><i class="fa fa-code-fork"></i> Integrations</a>
      </li>
      <h3>ALTER</h3>
      <li <% if (currentPage == "settings") { %> class="active" <% } %>>
        <a id="settings" href="/settings">
          <i class="fa fa-gear"></i>
          Settings</a>
      </li>
    </ul>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-top visible-xs">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/dashboard"><%= dash.name  %></a>
    </div>
    <div class="container">
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li id="dashboard" <% if (currentPage == "dashboard") { %>class="active" <% } %>>
            <a href="/dashboard"><i class="fa fa-tachometer"></i> Dashboard</a>
          </li>
          <li id="monitors" <% if (currentPage == "monitors") { %>class="active" <% } %>>
            <a href="/monitors"><i class="fa fa-feed"></i> Monitors</a>
          </li>
          <li <% if (currentPage == "incidents") { %> class="active" <% } %>>
            <a id="incidents" href="/incidents"><i class="fa fa-exclamation-circle"></i> Incidents</a>
          </li>
          <li id="integrations" <% if (currentPage == "integrations") { %>class="active" <% } %>>
            <a href="/integrations"><i class="fa fa-code-fork"></i> Integrations</a>
          </li>
          <li id="settings" <% if (currentPage == "settings") { %>class="active" <% } %>>
            <a href="/settings"><i class="fa fa-gear"></i> Settings</a>
          </li>
          <li id="logout">
            <a href="/logout"><i class="fa fa-power-off"></i> Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
